.defaultBackground {
  background-color: #f8f9f5;
  height: 100vh;
}

.defaultNav {
  background-color: #479c9d;
  color: white;
  height: 10vh;
  text-align: center;
}

.v_align {
  padding-top: 2vh;
}

.textMargin {
  margin-top: 15%;
}

.centerAlign {
  text-align: center;
}

.abc {
  height: 50%;
  width: 300px;
}

.navbar-collapse {
  text-align: left;
  margin-left: auto;
  align-items: flex-start;
  height: auto;
  width: auto;
}

.cardDisplay {
  margin-top: 13%
}

.cardBody {
  padding-top: 35px;
  padding-bottom: 35px;
}

.cardButton {
  width: 150px;
}

.center {
  text-align: center;
}

.dispItems:hover {
  transform: scaleX(1.02) scaleY(1.01);
  background-color: #ebf5f0;
  font-size: 12 0%;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.dispItems {
  margin-top: 15px;
  border: "0.1px grey solid";
  transition: transform .1s;
  background-color: #F8F8FF;
}